
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

.borde {
    cursor: pointer;
    position: relative;
    width: 200px;
    /* Puedes ajustar este valor según tus necesidades */
    height: 20px;
    /* Puedes ajustar este valor según tus necesidades */
}

.borde i {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.borde:hover {
    background-color: #e0e0e0;
}

#seleccionMensaje {
    text-align: center;
    color: #666;
    margin-top: 10px;
}

#porcentaje {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#guardar-container {
    display: none;
    text-align: center;
    margin-top: 10px;
}

#limpiarSeleccionIcon {
    cursor: pointer;
    text-align: center;
    color: #e44d26;
    font-weight: bold;
    margin-top: 10px;
}




#select {
    display: block;
    margin: 10px auto;
    padding: 8px;
    font-size: 14px;
}

#selectTienda,
#selectAno,
#confirmarSeleccion {
    display: block;
    margin: 10px auto;
    padding: 8px;
    font-size: 14px;
}

th.categoria {
    text-align: center;
    background-color: #000 !important;
    color: rgb(255, 255, 255) !important;
}

th.mala {
    text-align: center;
    background-color: #000 !important;
    color: #FF0000 !important;
}

th.regular {
    text-align: center;
    background-color: #000 !important;
    color: #D49928 !important;
}

th.buena {
    text-align: center;
    background-color: #000 !important;
    color: #E1D427 !important;
}

th.muy-buena {
    text-align: center;
    background-color: #000;
    color: #13B210;
}

th.excelente {
    text-align: center;
    background-color: #000;
    color: #2999ce;
}

@media only screen and (max-width: 600px) {

    table,
    th,
    td {
        font-size: 12px;
    }
}

/* Estilo para el botón Agregar Año */
button.fa-plus {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    border: none;
    padding: 10px 20px; /* Ajustar según sea necesario */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

/* Estilo para el botón Confirmar Selección */
button#confirmarSeleccion {
    background-color: #008CBA; /* Color de fondo azul */
    color: white; /* Color del texto blanco */
    border: none;
    padding: 10px 20px; /* Ajustar según sea necesario */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.button-add {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Texto en color blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Mostrar como un elemento en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen exterior */
    cursor: pointer; /* Cursor al pasar sobre el botón */
    border-radius: 4px; /* Bordes redondeados */
}

/* Estilos para el botón de confirmar */
#confirmarSeleccion {
    background-color: #008CBA; /* Color de fondo azul */
    color: white; /* Texto en color blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Mostrar como un elemento en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen exterior */
    cursor: pointer; /* Cursor al pasar sobre el botón */
    border-radius: 4px; /* Bordes redondeados */
}

/* Estilos para los selectores de año y tienda */
#selectAno,
#selectTienda {
    width: 200px; /* Ancho del selector */
    padding: 10px; /* Relleno interno */
    margin: 10px 0; /* Margen exterior */
    border: 1px solid #ccc; /* Borde delgado con color gris claro */
    border-radius: 4px; /* Bordes redondeados */
}

/* Estilos para las opciones de los selectores */
select option {
    background-color: #f9f9f9; /* Color de fondo para las opciones */
    color: #333; /* Color del texto para las opciones */
}

/* Estilo para contenedor de elementos en la misma línea */
.inline-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilos específicos para los elementos en la misma línea */
#selectAno,
#selectTienda,
.button-add,
#confirmarSeleccion {
    margin: 0;
}

#selectAno,
#selectTienda {
    flex: 1; /* Los selectores ocuparán todo el espacio disponible */
    margin-right: 10px; /* Espaciado entre selectores y botones */
}

.button-add,
#confirmarSeleccion {
    flex-shrink: 0; /* Evita que los botones se contraigan */
}
.button-add {
    background-color: #4CAF50; /* Color de fondo verde */
    color: white; /* Texto en color blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Mostrar como un elemento en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen exterior */
    cursor: pointer; /* Cursor al pasar sobre el botón */
    border-radius: 4px; /* Bordes redondeados */
}

.button-add:hover {
    background-color: #45a049; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos para los botones de Cancelar, Limpiar y Resumir */
/* Ajustar espacio entre botones y etiquetas */
.inline-container > label,
.button.icon-container {
    margin-right: 10px;
}

/* Estilos para los botones de Cancelar, Limpiar y Resumir */
.button.icon-container {
    background-color: #e44d26; /* Color de fondo rojo oscuro */
    color: #fff; /* Texto en color blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Mostrar como un elemento en línea */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cursor al pasar sobre el botón */
    border-radius: 4px; /* Bordes redondeados */
}

/* Estilos para el botón de Cancelar */
#cancelar {
    background-color: #e44d26; /* Color de fondo rojo oscuro */
    color: #fff; /* Texto en color blanco */
}

/* Estilos para el botón de Limpiar */
.button.icon-container:first-child {
    background-color: #2ecc71; /* Color de fondo verde */
    color: #fff; /* Texto en color blanco */
}

/* Estilos para el botón de Resumir */
.button.icon-container:nth-child(3) {
    background-color: #3498db; /* Color de fondo azul */
    color: #fff; /* Texto en color blanco */
}

/* Ajustar margen entre botones */
.button.icon-container {
    margin-right: 10px;
}

/* Ajustar espacio entre botones y etiquetas */
.inline-container > label {
    margin-left: 10px;
}

/* Estilo para el contenedor de botones */
.button-container {
    background-color: #fff; /* Color de fondo blanco */
    padding: 10px; /* Ajustar según sea necesario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Ajustar espacio entre botones y etiquetas dentro del contenedor */
.button-container > .inline-container > label,
.button-container > .inline-container > .button.icon-container {
    margin-right: 10px;
}

/* Estilos para los botones de Cancelar, Limpiar y Resumir */
.button.icon-container {
    background-color: #e44d26; /* Color de fondo rojo oscuro */
    color: #fff; /* Texto en color blanco */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Mostrar como un elemento en línea */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cursor al pasar sobre el botón */
    border-radius: 4px; /* Bordes redondeados */
}

/* Estilos para el botón de Cancelar */
#cancelar {
    background-color: #e44d26; /* Color de fondo rojo oscuro */
    color: #fff; /* Texto en color blanco */
}

/* Estilos para el botón de Limpiar */
.button.icon-container:first-child {
    background-color: #2ecc71; /* Color de fondo verde */
    color: #fff; /* Texto en color blanco */
}

/* Estilos para el botón de Resumir */
.button.icon-container:nth-child(3) {
    background-color: #3498db; /* Color de fondo azul */
    color: #fff; /* Texto en color blanco */
}

/* Ajustar margen entre botones dentro del contenedor */
.button-container > .inline-container > .button.icon-container {
    margin-right: 10px;
}



